<div class="landing-container">
  <app-progress-spinner
    [isLoading]="isAuthenticating"
    [message]="authenticationMessage"
  ></app-progress-spinner>
  <div class="left-side">
    <div class="left-side">
      <img
        src="./../../../assets/images/logo.png"
        alt="Logo"
        class="logo-overlay"
      />
    </div>
  </div>

  <div class="right-side">
    <mat-card class="sign-in-card">
      <div class="decorative-image"></div>

      <div class="header">
        <h3>WELCOME TO</h3>
        <h2>Inua Mkulima -</h2>
        <h2>Subsidiary Program</h2>
      </div>

      <form [formGroup]="signInForm" (ngSubmit)="authenticate()">
        <div *ngIf="!showPasswordField">
          <p class="description">Enter your username to continue</p>
          <mat-form-field appearance="fill" class="custom-input full-width">
            <mat-label>Username</mat-label>
            <input
              matInput
              id="username"
              type="text"
              formControlName="username"
            />
            <mat-error
              *ngIf="signInForm.controls['username'].hasError('required')"
            >
              Username is required.
            </mat-error>
          </mat-form-field>

          <button
            mat-raised-button
            class="full-width cont"
            (click)="continue()"
            type="button"
          >
            Continue
            <mat-icon class="arrow-icon">chevron_right</mat-icon>
          </button>
        </div>

        <div *ngIf="showPasswordField">
          <p class="description">Enter your password to continue</p>
          <mat-form-field appearance="fill" class="custom-input full-width">
            <mat-label>Password</mat-label>
            <input
              matInput
              id="password"
              [type]="hidePassword() ? 'password' : 'text'"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="togglePasswordVisibility()"
              type="button"
            >
              <mat-icon>{{
                hidePassword() ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>

          <button
            mat-raised-button
            color="primary"
            class="full-width cont"
            type="submit"
          >
            Sign In
            <mat-icon class="arrow-icon">chevron_right</mat-icon>
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
