.navbar {
  display: flex;
  justify-content: space-between;
  background-image: url("./../../../assets/images/header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 16px;
  cursor: pointer;
  padding: 20px;
  border-radius: 8px;
}

.spacer {
  flex: 1;
}

.nav-links,
.mobile-menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logged-in-text {
  font-size: 1rem;
  font-weight: 500;

  .name {
    margin-left: 12px;
  }
}

.logout-btn {
  display: flex;
  background-color: rgba(245, 245, 245, 0.508);
  margin-right: 10px;
  align-items: center;
  gap: 6px;
  font-size: 1rem;
  border: 1px solid #f4fffc;
}

.logout-btn mat-icon {
  font-size: 20px;
}

/* Mobile Styling */
@media (max-width: 768px) {
  .logged-in-text {
    font-size: 0.85rem;
  }
}
