<mat-toolbar color="primary" class="navbar">
  <div class="logo-container">
    <span class="logo-text">Inua Mkulima Subsidy Program</span>
  </div>

  <span class="spacer"></span>

  @if(!isMobile()){
  <div class="nav-links">
    <span class="logged-in-text"
      >Logged in As:
      <strong class="name">{{ user?.firstName | uppercase }}</strong></span
    >
    <button mat-button class="logout-btn" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
  } @if(isMobile()){
  <div class="mobile-menu">
    <span class="logged-in-text mobile"
      >Logged in As: {{ user?.firstName | uppercase }}</span
    >
    <button mat-button class="logout-btn" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
  }
</mat-toolbar>
